<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>Blanked</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body layout:fragment="body">
<h1 class="title">Blanked (Certified Gamer Forum)</h1>
<div class="section is-medium">
<div class="box">
    <h3>About Blanked</h3>
    <p>A fully fledged forum centered around gamers and gamers only. This would allow for people to post and share different things across the website, while also having private messages and group chats. Blanked.gg would also allow for its users to upload images and videos via a hosted media server.</p>
    <h4>M1: Initial Setup and Landing Page</h4>
    <p>The initial setup would be getting the project ready for development. The landing page would consist of a nice complementary color theme that will be carried out through the entire website. The landing page will also be designed to have a very user friendly interface where all the important starting information will be shown to a new user. This information will change eventually based on a users logged in status.</p>
    <h4>M2: User Management</h4>
    <p>This will add a user accounts system. Giving users the option to sign up and login. The users can also logout and create a new account if they would like.</p>
    <h4>M3: Content List Page and Detail Pages</h4>
    <p>Blanked will consist of several content list pages that are relevant to a category of posts. Each post will then have a detail page that will show comments and more in detail information about a post. Each post will have a limit on how much info is shown when it is presented on the content list page. Therefore making a user click on this post.</p>
    <h4>Primary Feature</h4>
    <p>The primary feature of this website is going to be content upload and posting about a specific piece of content or creating a post that can then be commented on.</p>
</div>
</div>
</body>
</html>